extends navigation_bar.pug

block append style
  style
    include engi_var_sty.css


block append script   
  script.   
    function show(element){
    var x = element.querySelector("div").style;
    if (x.display === "none") {
        x.display = "block";
    } else {
        x.display = "none";
     }
    }  

block contents   
    <div class="content_title">
        <h1>The List of #{title} University</h1>
    </div>
    <div class="tab">
        <ol>
            each i in va
                <li onclick='show(this)'>
                    <p>#{i.UniversityName}</p> 
                    <div style="display: none;" >
                        <ul>
                            
                            <li>Specialization : #{i.Specialization}</li>
                            <li>Location : #{i.Location}</li>
                            <!-- <li><a href="/More?q=#{i.UniversityName}">More</a></li> -->
                            <form action="/More" method="POST">
                                <div class="fixed" style="display: none;">
                                    <input type="text" name="name" value="#{i.Nickname}">
                                </div>
                                <button>More</button>
                            </form>
                        </ul>
                    </div>
                    
                </li>
        </ol>
    </div>
