extends navigation_bar.pug
block append style
      style
        include individual_var_css.css


block contents    
    <div class="content_title">
        <h1>The Details of #{va.UniversityName}</h1>
    </div>
    <div class="tab">
        table
          tr
            th Nickname
            th Founded
            th Location
            th Specialization
            th Type
            th link
        
            tr
              td #{va.Nickname}
              td #{va.Founded}
              td #{va.Location}
              td #{va.Specialization}
              td #{va.Type}
              td
                a(href=va.Link,target="_blank") #{va.Link} 
                    
              
    </div>
    <div>
        <ul>
            <li>Departments</li>
            <li>Admission Circulars</li>
        </ul>
    </div>
